@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?nln8ni');
  src:  url('fonts/icomoon.eot?nln8ni#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?nln8ni') format('truetype'),
    url('fonts/icomoon.woff?nln8ni') format('woff'),
    url('fonts/icomoon.svg?nln8ni#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-heart-regular:before {
  content: "\e909";
}
.icon-heart-solid:before {
  content: "\e90a";
}
.icon-caret-down-solid:before {
  content: "\e907";
}
.icon-caret-up-solid:before {
  content: "\e908";
}
.icon-code-regular:before {
  content: "\e906";
}
.icon-cocktail-solid:before {
  content: "\e904";
}
.icon-github:before {
  content: "\e905";
}
.icon-dot-dot-dot:before {
  content: "\e903";
}
.icon-chevron-left-light:before {
  content: "\e901";
}
.icon-chevron-right-light:before {
  content: "\e902";
}
.icon-external-link:before {
  content: "\e900";
}
